<html>
    <head>
        <title> Bots Actions | Login </title>
        <link rel="shortcut icon" type="image/x-icon" href="../../static/icons/SA_ico.png">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- jsGrid -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
    
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
        <!--end jsGrid -->

        <!-- jshashes -->
        <script type="text/javascript" src="http://cdn.rawgit.com/h2non/jsHashes/master/hashes.js"></script>
        <!-- end jshashes -->
    </head>

    <style>
        .boxed {
            margin:25px;
	        padding:20px;
            max-width: 570px; /*650px*/
            border-radius: 7px;
            border: 2px solid gray;
        }
    </style>

    <body>
        <div align="center">
            <div class="boxed", style="overflow-x:auto">
                <table>
                    <tbody>
                        <tr>
                            <a href="/">
                                <img src="https://www.systemagency.com/assets/imageedit_2_4612789236.png" 
                                    width="480" height="120" alt="System Agency | Bots Actions">
                            </a>
                        </tr>
                        <br><br><br><br>
                        <tr>
                            <td >
                                <div class="col-auto ">
                                    <div class="input-group mb-2">
                                        <label class="sr-only" for="inlineFormInputGroup">Email</label>
                                        <input type="text" class="form-control" id="email" placeholder="Email" required>
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">@systemagency.com</div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-auto">
                                    <div id="resetPass" style="display:true;">
                                        <input type="text" class="form-control mb-2" id="password" placeholder="Password" required>
                                    </div>
                                    <div align="center">
                                        <button type="button" class="btn btn-primary" onclick="log_in()">Log In</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <footer class="page-footer font-small unique-color-dark pt-4">    
            <div class="footer-copyright text-center py-3">
                <p> 
                    SYSTEM Agency © 2020 ~ Constructed by Franco 

                    <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/google/223/european-castle_1f3f0.png" srcset="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/google/223/european-castle_1f3f0.png 2x" 
                        alt="Castle" 
                        width="24" 
                        height="24">
                </p>
            </div>
        </footer>
    </body>

    <script type="text/javascript" src="/static/scripts/utils.js"> </script>
</html>
