<!-- October 10th, 2019 -->
<html>
    <head>
        <title> Bots Actions | Public </title>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- jsGrid -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
    
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
        <!--end jsGrid -->

         <!-- jshashes -->
         <script type="text/javascript" src="http://cdn.rawgit.com/h2non/jsHashes/master/hashes.js"></script>
         <!-- end jshashes -->
    </head>

    <div class="main" align="center">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="http://0.0.0.0:5000/">
                    <img src="https://www.systemagency.com/assets/imageedit_2_4612789236.png" width="120" height="30" alt="">
                </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="http://0.0.0.0:5000/singIn">Sign In</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            <label class="sr-only" for="inlineFormInputGroup">Email</label>
                            <div class="input-group mb-2">
                                <input type="text" class="form-control" id="email" placeholder="Email" required>
                                <div class="input-group-prepend">
                                    <div class="input-group-text">@systemagency.com</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <label class="sr-only" for="inlineFormInput">Password</label>
                            <input type="text" class="form-control mb-2" id="password" placeholder="Password" required>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-primary mb-2" onclick="log_in()">Log In</button>
                        </div>
                    </div>
                </form>
            </div>
        </nav>
    </div>

    <div class="jumbotron">
        <h1 class="display-4">Bot Activities</h1>
        <hr class="my-4">
        <p>In this tiny web page you can see the Mother Agencies where our bot Scouting are following.</p>
        <p>This page will contain buttons like an accordion, with a country name, click it and see the list of page followed in that country.</p>
    </div>

    <div class="container">
        <div class="accordion" id="accordionCountry">
            <div class="card">
                {% if data %}
                    {% for element in data.country.keys() %}
                        <div class="card-header"  id="heading{{ element }}">
                        <h2 class="mb-0">
                            <button 
                                class="btn btn-link collapsed" 
                                type="button" 
                                data-toggle="collapse" 
                                data-target="#collapse{{ element }}" 
                                aria-expanded="false" 
                                aria-controls="collapse{{ element }}"
                                onclick="getCountries('#jsGrid{{ element }}', '{{element }}')">
                                {{ element }}
                            </button>
                        </h2>
                        </div>
                        <div id="collapse{{ element }}" class="collapse" aria-labelledby="heading{{ element }}" data-parent="#accordionCountry">
                            <div id="jsGrid{{ element }}"></div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>            
        </div>
    </div> <!-- End of the Container -->
    
    <footer class="page-footer font-small unique-color-dark pt-4">    
        <div class="footer-copyright text-center py-3">SYSTEM Agency © 2019
        </div>
    </footer>
    
    <script type="text/javascript" src="/static/scripts/utils.js"> </script>
</html>
